:root {
  max-width: 1280px;
  margin: 0 auto;
display: flex;
justify-content: center;
background-color: gray;
color: blue;
}
.box{
  background-color: rgb(79, 205, 246);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgb(77, 77, 77);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
h3{
  margin: 2px;
  color: black;

}
